# 1) LIST

In [2]:
# SIMPLE LIST
mylist = ["mango","orange","peach"]
print(mylist)

['mango', 'orange', 'peach']

In [3]:
#NESTED LIST
mylist = ["apple",[7,2,9],['a']]
print(mylist)

['apple', [7, 2, 9], ['a']]

In [4]:
# ACCESS ITEMS FROM THE LIST
mylist = ["mango","orange","peach"]
print(mylist[1])

orange

In [5]:
# NEGATIVE INDEXING
mylist = ["mango","orange","peach"]
print(mylist[-2])

orange

In [6]:
# RANGE OF INDEXES(ignore upper bond)
mylist = ["mango","orange","peach","apple","banana"]
print(mylist[1:5])

['orange', 'peach', 'apple', 'banana']

In [7]:
# CHANGE ITEM VALUE
mylist = ["mango","orange","peach","apple","banana"]
mylist[0] = "pear"
print(mylist)

['pear', 'orange', 'peach', 'apple', 'banana']

In [8]:
# ADD ITEMS
mylist = ["mango","orange","peach","apple","banana"]
mylist.append("water-melon")
print(mylist)

['mango', 'orange', 'peach', 'apple', 'banana', 'water-melon']

In [9]:
# EXTEND METHOD
list1 = [1,2,3]
list2 = ["a","b","c"]
list1.extend(list2)
print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [10]:
# COPY LIST
mylist = ["mango","orange","peach","apple","banana"]
copy_list = mylist.copy()
print(copy_list)

['mango', 'orange', 'peach', 'apple', 'banana']

In [14]:
# ADD TWO LIST
list1 = [1,2,3]
list2 = ["a","b","c"]
list3 = list1 + list2
print(list3)

[1, 2, 3, 'a', 'b', 'c']

# 2) TUPLES

In [12]:
# SIMPLE TUPLE
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [13]:
# ACCESS TUPLE ITEMS
thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

# 3) STRING OPERATIONS

In [15]:
# STRING PRINT
a="Hello World!"
print(a)

Hello World!

In [16]:
# ACCESS ITEM FROM STRING
a="Hello World!"
print(a[1])

e

In [17]:
# RANGE IN STRING
a="Hello World!"
print(a[0:7])

Hello W

In [18]:
# FIND LENGTH OF STRING
a="Hello World!"
print(len(a))

12

In [21]:
# STRING STRIP METHOD(ignore white spaces from start and end)
a=" Hello World! "
print(a.strip())

Hello World!

In [23]:
#STRING METHOD: UPPER or LOWER
a="Hello World!"
print(a.upper())
print(a.lower())

HELLO WORLD!
hello world!

In [24]:
# STRING SPLIT
a="Hello World!"
print(a.split())

['Hello', 'World!']

In [25]:
# STRING REPLACE OPERATION
a="Hello World!"
print(a.replace("Hello","Yellow"))

Yellow World!

In [28]:
# STRING CONCATENATION
a="Areeba"
b="Munir"
c=a+b
print(c)

AreebaMunir

In [29]:
# ADDING SPACE BETWEEN ABOVE STRING
a="Areeba"
b="Munir"
c=a+" "+b
print(c)

Areeba Munir

In [30]:
# STRING FORMAT
my_age = 19
bio = "Hi! My name is Areeba Munir and I am {} "
print(bio.format(my_age))

Hi! My name is Areeba Munir and I am 19

# 4) VARIABLES

In [31]:
# BASIC VARIABLE EXAMPLE
a = "Areeba" #string
b = 60       #integer value
print(a)
print(b)

Areeba
60

In [32]:
# VARIABLE NAMING
#Valid
var1 = "University"
var_1 = "Class"
VAR = "SChool"
#Invalid
1var = "Name" #do not start variable name with a number
var-1 = "Name" #do not use hypen in between in variable name
var 1 = "Name" #do not create a white space in between in variable name

SyntaxError: invalid syntax (<ipython-input-32-a4193c21e01a>, line 7)

In [34]:
# VARIABLE OUTPUT
a="like"
print("I "+a +" working with python language")

I like working with python language

In [35]:
# ADDING VARIABLES(adding string and integer gives an error)
#both are integers
a= 17
b=56
print(a+b)

73

# 5) ITERABLE

In [38]:
string = "Areeba"
myit = iter(string)
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

A
r
e
e
b
a

In [40]:
list1 = ["fruit","vegetable","nuts"]
myit = iter(list1)
print(next(myit))
print(next(myit))
print(next(myit))

fruit
vegetable
nuts

# 6) LOOPS

In [41]:
# FOR LOOP
list1 = ["fruit","vegetable","nuts"]
for a in list1:
    print(a)

fruit
vegetable
nuts

In [43]:
# FOR LOOP(using range)
for x in range (1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [45]:
# WHILE LOOP
i = 1 #initialzing
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [46]:
# REVERSE STRING THROUGH LOOP
string = "Areeba"
for i in reversed(string):
    print(i)

a
b
e
e
r
A